.section-header {
   background-image: url("../assets/backgrounds/landing.jpg");
   background-size: cover;
   overflow: hidden;
   padding: 70px;
   margin-left: -10%;
   margin-right:-10%;   
}
 .logo {
  padding: 150px;
  text-align: center;
  color: white;
  font-size: 20px;
  }
 .boldSlogan {
  font-weight: bold;
 }
 .topRow{
  margin-left: -10%;
  margin-right:-10%;
 }
.section-menu {
  margin-left: -10%;
  margin-right: -10%;
  text-align: center;
  color: white;
  font-family:serif;
  font-size: 20px;
}
 .tom{
  background-color: grey;
  padding: 30px;
 }
.jerry{
  background-color: #f15a29;
  padding: 30px;
}
#breakfast {
 background-image: url("../assets/foodtop/breakfast.jpg");
 background-size: cover;
 padding: 100px;
 margin-right: -30px;
}
#lunch {
  background-image: url("../assets/foodtop/lunch.jpg");
  background-size: cover;
  padding: 100px;
  margin-right: -30px;
}
#dinner {
  background-image: url("../assets/foodtop/dinner.jpg");
  background-size: cover;
  padding: 100px;
}
#breakfast:hover,
#lunch:hover,
#dinner:hover,
.tom:hover,
.jerry:hover {
  color:black;
  opacity:0.7;
}
.section-information{
  padding: 70px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  margin-left: -10%;
  margin-right:-10%;
}
.fastFood {
      padding: 20px;
      margin-left: 25px;
      text-align: left;
}
.drinksInfoRow {
      padding-top:70px
}
  .fastFood h3,
  .fastFood h4,
  .drinksInfo h3,
  .drinksInfo h4 {
      font-weight: bold;
  }
.fastFoodPhotos {
  padding: 20px;
  border: 2px solid rgba(211, 211, 211, 0.44);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.14);

}
.drinksInfoPhotos {
padding: 10px;
border: 2px solid rgba(211, 211, 211, 0.44);
box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.14);

}
.fastFoodPhotos img,
.drinksInfoPhotos img {
        margin: auto;
        text-align: center;
    }
.drinksInfoPhoto2{
        float:right;
    }
    button {
      margin-top: 20px;
      padding:10px;
      background-color: #f15a29;
      color: white;
      border:1px solid #f15a29;
    }


.container-sa{
      background: url("../assets/backgrounds/foodsBg.jpg");
      color: #f15a29;
      margin-left: -10%;
      margin-right:-10%;
      padding:70px;
      background-size: cover;
      background-attachment: scroll;
      background-clip: border-box;
      background-position: center;
      background-repeat: no-repeat;
}
  #btn1,
  #btn2,
  #btn3,
  #btn4
  {
    margin-top: 20px;
    padding:10px;
    background-color: li  ;
    color: white;
    border:1px solid #f15a29
  }
  .section-subscription {
    padding: 70px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.14);
    margin-left: -10%;
    margin-right:-10%;
  }
  .section-subscription.row {
    border: 2px solid #ddd;
  }
  .customers {
    margin-left: auto;
    text-align: center;
    padding: 20px;
  }
  
  .about h4 {
    color: #f15a29;
    font-weight: bold;
  } 
  .customers h4 {
    color: #f15a29;
    font-weight: bold;
  }
  .section-form {
    text-align: center;
    background-image: url("../assets/backgrounds/subscribe.jpg");
    background-size: cover;
    overflow: hidden;
    color: white;
    font-size: 20px;
    padding: 70px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    margin-left: -10%;
    margin-right:-10%;
  }
  .form-group {
    width: 50%;
    margin: auto;
  }
  .section-form p {
    font-size: 30px;
  }
  input[type=email] {
    background-color: grey;
    font-size: 16px;
  }
  .col-md-6 [id=subscribe] {
    background-color: #f15a29;
    color: white;
    font-size: 16px;
  }
  .form-control {
    border: 0px;
    border-radius: 2px;
  }
  .form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
  }
  #output {
    font-size: 20px;
  }
  .footer .fa {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section-footer {
    background-color: #f15a29;
    padding: 30px;
    border: 2px solid rgba(211, 211, 211, 0.44);
    margin-left: -10%;
    margin-right:-10%;
  }
  .footer {
    width: 30%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .footer img {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
  }
  .footer p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer h2 {
    font-size: 30px;
  }
